*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100vw;
  text-align: center;
}
.card:hover{
  transform: scale(1.03);
  cursor: pointer ;
}
.btnContainer > button:nth-child(1){
  border: 2.2px solid #D94F30;
}
.btnContainer > button:nth-child(2){
  border: 2.2px solid #E5A823;
}
.btnContainer > button:nth-child(3){
  border: 2.2px solid #977654;
}
.btnContainer > button:nth-child(4){
  border: 2.2px solid #E97211;
}
.btnContainer > button:nth-child(5){
  border: 2.2px solid   #4CAF50;
}
